{
  "Profiles": {
    "GONZO": {
      "ALIASES": [
        "G"
      ],
      "COMPANY": 101,
      "DEFAULT_LANGUAGE": 1,
      "PLATFORM": "SYBASE",
      "HOST": "54.235.236.130",
      "PORT": 5000,
      "USERNAME": "sbn0",
      "PASSWORD": "*****",
      "SQL_SOURCE": "C:\\_innovative\\_source\\current.sql",
    }
  }
}